.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

* {
  box-sizing: border-box !important;
}

.message {
  align-items: center;
  gap: .75rem;
  margin: 1rem 0;
}

.message.sent {
  flex-direction: row-reverse;
}

.content {
  background: #011638;
  padding: .6rem;
  border-radius: 1rem;
  margin: .6rem;
}

#send_button {
  background: none;
  border: none;
  cursor: pointer;
}

.main {
  margin: auto;
  background-color: #032174 !important;
  max-width: 70ch;
  justify-content: space-between;
  position: relative;
  min-height: 87vh;
  display: flex;
  margin-top: 5vh;
  flex-direction: column-reverse;
}

.main__messageLine {
  color: #fff;
  margin-bottom: 8vh;
  padding: 0 25px;
}

.inputField {
  width: 100%;
}

#send_button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.topbar,
.messageWriter {
  position: fixed;
  width: 100%;
  max-width: 70ch;
  background: #023E8A;
}

.topbar {
  height: 5vh;
  min-height: 50px;
  top: 0;
  padding: 0 10px;
}

.messageWriter {
  height: 6vh;
  min-height: 80px;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

#profilePic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

input {
  padding: 1.5rem 1rem !important;
}

.btn {
  width: 20ch;
  padding: 20px !important;
}